// font family
$font-family-base: "Lato", sans-serif;

// font size
$font-size-base: 20px;

// font weight
$font-weight-base: 400;
$font-weight-bold: 700;

// line height
$line-height-base: 1.35;

// colors
$black: #000;
$white: #fff;
$pink: #FB47FA;
$blue: #8FA4E0;
$green: #A8DEBD;
$yellow: #ffff00;
$red: #F4657C;

// z-index
$z-index: (
  background-canvas: 0,
  content: 1,
);
