---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:url" content="https://2018.y-e-s.org">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://2018.y-e-s.org/assets/images/y-e-s-fest.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1667">
  <meta property="og:image:height" content="1200">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400i,700i">
  <link rel="stylesheet" type="text/css" href="/assets/styles/app.css?{{ site.time | date: '%s%N' }}">
</head>
<body>
  <canvas class="background-canvas" id="background-canvas"></canvas>
  <main class="content">
    {% include logo.html %}
    {{ content }}
    {% include sponsors.html %}
    {% include footer.html %}
  </main>
  <script type="text/javascript" src="/assets/scripts/app.min.js?{{ site.time | date: '%s%N' }}"></script>
</body>
</html>
